# Git
.git
.gitignore
README.md
CHANGELOG.md

# Node modules
node_modules
npm-debug.log

# Environment files
.env
.env.*
!.env.example

# IDE
.vscode
.idea
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Laravel
/storage/logs/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/bootstrap/cache/*

# Composer
composer.phar

# PHPUnit
/coverage
/.phpunit.result.cache

# Tests
tests
phpunit.xml

# Development
/vendor
docker-compose.yml
docker-compose.override.yml
